<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>.::Sitio Web::.</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
</head>

<style>
html, body {
	height: 100%;
}

body {
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

.content {
	text-align: center;
	display: inline-block;
	padding-top: 8%;
}

.title {
	font-size: 52px;
	margin-bottom: 40px;
	background: #1D6FB1;
	text-align: center;
/* 	padding: 7px; */
	width: 100%;
}

.navCustom {
    background: #4F95CE;
/*     padding: 0em 1em; */
}
</style>
</head>
<body>

	<div class="">
        <div class="titleApp">
            <h2></h2>
        </div>
        <div class="" >
        	<table class="col-sm-12">
		        <tr>
		        	<td class="col-sm-11 navCustom">
		                <h2 style="color:white;">SITIO WEB</h2>
		            </td>		            
		       		</tr>
		     </table>
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/>
    <div class="row">
    	<div class="col-md-12">
        	<table align="center">
		        <tr>
		        	<td >
<!-- 		                <p style="font-size: 3em; color:grey;">PAGINA EN CONSTRUCCIÓN</p> -->
<!-- 						<a href="http://localhost:8080/PisRest/swagger-ui/index.html?configUrl=/PisRest/v3/api-docs/swagger-config">Link Swagger of project Pis Rest!</a> -->
<!-- 						<a href="http://192.168.0.14:7001/PisRest/swagger-ui/index.html?configUrl=/PisRest/v3/api-docs/swagger-config">Link Swagger of project Pis Rest!</a> -->
						<a href="http://10.205.61.197:7003/PisRest/swagger-ui/index.html?configUrl=/PisRest/v3/api-docs/swagger-config">Link Swagger of project Pis Rest!</a>
		            </td>
		       	</tr>
		     </table>
        </div>
	</div>

</body>
</html>
